#root{
    
}
.titleDiv{
    display: table;
    margin: 0 auto;
    height: 217px;
}
.title{
    text-align: center;
}
.image{
    position: absolute;
    float:left;
}
#semesterButtons{
    display: table;
    margin: 0 auto;
}
.noData{
    visibility: hidden;
    width: 100%;
    position: absolute;
    margin-top: 5%;
    text-align: center;
    font-size: 200%;
}
#chart{
    width: 100%;
}
#tagFrequencies{
    width: 100%;
}
#dateSlider{
    margin-left: 40px;
    margin-right: 5px;
}
#sliderBounds{
    display: flex;
}
#dateSliderInfo{
    text-align: center;
    width: 60%;
}
#startDate{
    width: 20%;
    margin-left: 25px;
}
#endDate{
    flex-grow: 1;
    text-align: right;
}
#credits{
    text-align: right;
    font-size: 70%;
    margin-right: .5em;
}